.afooter {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  margin-top: auto;
}

.afooter .col-background {
  
  padding: 15px; /* Padding inside the column */
  
}
.afooter p {
  background-color: #2c3e50; /* Soft dark blue background */
  text-align: left; /* Align the p tag to the left */
  padding-left: 20px; /* Add padding to the left for spacing */
  margin: 0;
  width: fit-content;
  border-radius: 5px; /* Optional rounded corners */
  
}

.afooter .resources-section {
  margin-top: 5px;
}

.afooter .resources-section h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

.afooter .resources-section ul {
  list-style: none;
  padding: 0;
}

.afooter .resources-section ul li {
  margin-bottom: 5px;
}

.afooter .resources-section ul li a {
  color: #ffffff;
  text-decoration: none;
}

.afooter .resources-section ul li a:hover {
  text-decoration: underline;
}
